@import "../../styles/mixins";

.header {
  background: url(./../../img/waveHeader.png) no-repeat 0 -40px;
  background-size: cover;
  height: 588px;

  @include onTablet {
    background: url(./../../img/waveMd.png) no-repeat;
    background-size: cover;
    height: 329px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 104px;
    padding: 48px 0 250px;

    background: url('./../../img/manLg.png') no-repeat 100% 15px;

    @include onLaptop {
      margin: 0 24px;
      background-position: 100% -50px;
    }

    @include onTablet {
      background: url(./../../img/manMd.png) no-repeat 100% 5px;
      padding: 48px 0 92px;
    }

    @include onMobile {
      padding: 20px 0 38px;
      margin: 0 16px;

      background: none;
    }
  }

  &__logo {
    @include onTablet {
      width: 24px;
    }

    @include onMobile {
      width: 14px;
    }
  }

  &__title {
    margin-top: 28px;
    font-weight: 700;
    font-size: 60px;

    @include onTablet {
      font-size: 40px;
    }

    @include onMobile {
      margin-top: 16px;
      font-size: 26px;
    }
  }

  &__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 24px;

    @include onLaptop {
      width: 45%;
    }

    @include onTablet {
      width: 50%;
      font-size: 18px;
    }

    @include onMobile {
      font-size: 14px;
    }
  }

}
